<!-- <h1>Welcome to My CRM</h1> -->

<!-- <nav>
  <li><a href="/home">Home</a></li>
  <li><a href="/add_contact">Add Contact</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="<%= @contact_link  %>">Contact Us</a></li>
</nav> -->
